html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #0e0c13;
    color: white;
}

#container {
    width: 440px;
    height: 62px;
    margin: calc(50vh - 31px) auto;
    font-family: monospace;
}

.button {
    width: 210px;
    height: 38px;
    border: 1px solid #9686d5;
    float: left;
    margin: 0 4px;
    text-align: center;
    line-height: 38px;
    font-family: monospace;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: bold;
}

.login {
    background: #0e0c13;
    color: #9686d5;
}

.install {
    background: #9686d5;
    color: #0e0c13;
}

.info {
    height: 22px;
    float: right;
    margin: 0 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    color: #9686d5;
    cursor: pointer;
    user-select: none;
}
